@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Gilroy"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/Gilroy-Medium.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/Gilroy-Medium.woff") format("woff");
  }
 
  @font-face {
    font-family: "Gilroy";
    font-style: bold;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Gilroy"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/Gilroy-Bold.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/Gilroy-Bold.woff") format("woff");
  }

 